<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RethinkTakeHome.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A5ECEB42A5C83AF001DC201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A5ECED92A61709E001DC201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A5ECEEC2A61B45B001DC201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
